.nav-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	padding: 10px;
	background-color: black;
}

.navbar-action-item {
	margin: 0 5px;
	color: white;
	text-decoration: none;
}
.login-link {
	font-weight: bold;
}